@mixin buttons($width, $height, $radius, $bgColor, $color) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bgColor;
  color: $color;
  display: grid;
  align-content: center;
  justify-content: center;
}

@mixin text-style ($weight, $size, $line-height, $color) {
  font-family: Rubik;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
  letter-spacing: 0%;
}

@mixin companies ($width, $height) {
  width: $width;
  height: $height;
}